mixin css(href)
	link(rel="stylesheet", href=href)

mixin js(src)
	script(src=src)

mixin utf-8
	meta(charset="UTF-8")

mixin mobile-theme(content)
	// Android 5 Chrome Color 
	meta(name="theme-color" content=content)